
.cart {
 padding: 2rem 15rem;
}
.cartitems{
  overflow: auto;
  height: 50vh
}
.cart_title{
  margin-top: 2rem;
}
.cart_title, .Cart_item_items {
 
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  font-size: max(1vw, 12px);
}

.cart_title {
  color: gray;
}

.Cart_item_items img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  padding: 5px;
  border-radius: 15px;

}

.Cart_item_title{
    margin-bottom: 10px;
}
 hr{
    background-color: rgb(202, 196, 196);
}
.cross{
    cursor: pointer;
}

.cart_bottom{
  margin-top: 3rem;
  
}
.cart_total{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 2rem;
  margin-left: 50%;
}
.cart_total .cart_sub{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cart_sub p{
  opacity: 0.7;
}
.cart_total hr{
  margin-bottom: 0.5rem;
}
.cart_total .delivery_fee{
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.delivery_fee p{
  opacity: 0.7;
}
.cart_total .total{
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.cart_total .total .total_prize{
  background-color: black;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.Total_btn{
  display: flex;
  margin-top: 1.2rem;
  justify-content: space-between;
}
.Total_btn .process_btn{
  background-color: tomato;
  color: white;
  cursor: pointer;
}
.Total_btn .close_button{
  background-color: rgb(195, 52, 52);
  color: white;
  cursor: pointer;
}