
.cart {
 padding: 5rem 5rem;
}

.cart_title, .Cart_item_items {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  font-size: max(1vw, 12px);
}

.cart_title {
  color: gray;
}
.cartitems h1{
    margin-bottom: 2rem;
}
.Cart_item_items img {
  width: 100px;
  height: 70px;
  object-fit: cover;
  padding: 5px;
  border-radius: 15px;

}

.Cart_item_title{
    margin-bottom: 10px;
}
 hr{
    background-color: rgb(202, 196, 196);
}
.cross{
    cursor: pointer;
}
