.contact{
    padding: 8rem 5rem;
    display: flex;
}
video{
    box-shadow: 0px 0px 25px black;
    height: 40rem;
    border-radius: 10px;
    width: 45rem;
    object-fit: cover;
}
.right_Side{
    padding: 3rem;
}
.right_Side{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}
.right_Side h1{
    font-size: 4rem;
    
}
.right_Side p{
    font-size: 1.2rem;
    font-family:regular
}