

.food_item_card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 260px;
    box-shadow: 0px 0px 5px black;
    padding: 1rem;
    border-radius: 8px;
    background-color: #FCF8F7;
}


.food_img_card img {
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
}

.food_img_name h1 {
    font-size: 1.4rem;
    text-transform: capitalize;
    text-align: center;
    margin-top: 3rem;
    font-family: regular;
}

.food_img_price h5 {
    font-size: 1.5rem;
    color: #555;
}
.add_Cart{
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
    gap: 0.3rem;
    right: 10%;
}
.addition i{
    background-color: green;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.add_Cart .remove i{
    background-color: red;
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.add_Cart .add_cart_name{
    font-weight: 100;
    background-color: #555;
    padding:0.1rem 0.5rem;
    color: white;
    font-size: 1.5rem;
    border-radius: 5px;
}