.Menu{
    padding: 8rem 2px;
    width: 100%;
    height: 100%;
    background-color:#191A1D
}
.menu_session_first{
    display: flex;
    gap: 2rem;
    
}
.menu_offer h3{
    padding: 5px;
    background-color: tomato;
    width: 15%;
    text-align: center;
    border-radius: 8px;
    color: white;
    margin-top: 2rem;
}

.menu_title{
    width: 70%;
}
.menu_title h4{
    font-size:3.5rem;
    margin-top: 50px;
    color: white;
    font-family: Stencil;
}

.menu_title p{
    margin-top: 5rem;
    color: white;
    font-family: bold_txt;
    font-size: 18px;
}
.menu_title .Menu_btn{
    margin-top: 40px;
    padding: 20px 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    
}
.menu_title .Menu_btn:hover{
    background-color: tomato;
    
}
.Menu_btn:active{
    scale: 0.92;
}
.menu_session_second{
    
    display: flex;
    gap: 2rem;
}
.menu_session_second .menu_offer{
    margin-top: 50px;
    display: flex;
}
.menu_offer img{
    width: 45%;
}
.menu_session_second .menu_title{
    padding: 0px 10rem;
    margin-top: 50px;
    width: 60%;
}
.menu_session_second .menu_title h3{
    width: 25%;
    font-family: Stencil;
}
.menu_session_second .menu_title h4{
    width:100%;
    font-family:Stencil;
    font-size: 55px;
}
.menu_title p{
    margin-top: 15%;
    font-size: 1.9rem;
    font-family: Chiller;
}

.All_menu{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.All_menu button{
    position: relative;
    display: inline-block;
    padding: 0.8rem 5rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: Engravers MT;
    color: white;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease
}
.All_menu button:hover{
    background-color: tomato;
    color: white;

}