.self{
    padding: 0rem 4rem;
    display: flex;
}

.self h1{
    font-family: bold_txt;
}
.about_name{
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
a{
text-decoration: none;
}
.about_name p{
    width: 70%;
    font-family: light;
}
.about_name .icon{
    display: flex;
    gap: 1rem;
}
.about_name .icon i{
    font-size: 2rem;
    cursor: pointer;
}
.contact_us{
    width: 33%;
    
    
}
.contact_us .info{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.subscribe{
    text-align: center;
    width: 35%;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.name_input{
    display: flex;
    gap: 5px;
    margin-top: 1rem;
}
.name_input input{
    padding: 1rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(226, 225, 225);
}
 .email_input input{
    width: 100%;
    padding: 0.8rem;
    background-color: rgb(226, 225, 225);
    border: none;
    border-radius: 10px;
    outline: none;
}
.subscribe textarea{
    padding: 0.8rem;
    background-color: rgb(226, 225, 225);
    border: none;
    border-radius: 10px;
    outline: none;
}

.subscribe button{
    background-color: tomato;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    outline: none;
}

.subscribe p{
    margin-top: 1.2rem;
}