@font-face {
   font-family: regular;
   src: url('./Font/AeonikTRIAL-Regular.otf');
}
@font-face {
   font-family: bold_txt;
   src: url('./Font/AeonikTRIAL-Bold.otf');
}
@font-face {
   font-family: bolditalic;
   src: url('./Font/AeonikTRIAL-BoldItalic.otf');
}
@font-face {
   font-family: light;
   src: url('./Font/AeonikTRIAL-Light.otf');
}


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: gilroy;
   color: black;
   scroll-behavior: smooth;
   
}
*::-webkit-scrollbar{
   display: none;
}
html,
body {
   height: 100%;
   width: 100%;
}