.nav {
  width: 100%;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4rem;
  z-index: 100;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav .active {
  color: tomato !important;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.nav li {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.nav li i{
  color: white;
}
.nav a {
  text-decoration: none;
  color: white;
}

.fixed-nav {
  position: fixed;
  background-color: white;
  padding: 1.5rem;
  height: 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.navbar_icon{
  position: relative;
}

.navbar_icon .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: tomato;
  border-radius: 50%;
  top: -5px;
  right: -10px;
}

.fixed-nav li,
.fixed-nav li i,
.fixed-nav a,
.fixed-nav .name {
  color: black;
}
