.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar .logo{
    width: max(10%, 80px);
}
.navbar .profile{
    width: 40px;
}
.navbar h2{
    font-family: fantasy;
    color: tomato;
    font-size: 2.3rem;
}